<div class="GridCenter">
    <h1 class="centered">System Capabilities</h1>
    <mat-divider></mat-divider>
    <mat-grid-list cols="2" rowHeight="200px" gutterSize="40px" align-items="flex-start" justify-content="flex-start">
        <mat-grid-tile rowspan="2">
            <mat-card class="my-card">
                <mat-card-header>
                    <mat-card-title>Complete Digitization of Academic Activties</mat-card-title>
                    <mat-card-subtitle><mat-icon>done</mat-icon>Digital Attendance</mat-card-subtitle>
                    <mat-card-subtitle><mat-icon>done</mat-icon>Digital Tracking of Classes, Syllabus, Student's progress</mat-card-subtitle>
                    <mat-card-subtitle><mat-icon>done</mat-icon>Auto noitification to Student and Parents for the class attendance</mat-card-subtitle>
                    <mat-card-subtitle><mat-icon>done</mat-icon>Auto notification to College Administrator and Student to track Teacher's class attendance</mat-card-subtitle>
                    <mat-card-subtitle><mat-icon>done</mat-icon>Capability to remain connected with students digitally and vice versa</mat-card-subtitle>
                    <mat-card-subtitle><mat-icon>done</mat-icon>Enable Student to provide feedback about Teachers to College Authority and vise versa</mat-card-subtitle>
                    <mat-card-subtitle><mat-icon>done</mat-icon>Enforce Digital Data Governance process to keep the system of record updated</mat-card-subtitle>
                    <mat-card-subtitle><mat-icon>done</mat-icon>Manage and Maintain Master and Department Routine</mat-card-subtitle>
                    <mat-card-subtitle><mat-icon>done</mat-icon>Manage classes attendance and track deparmentt-wise syllabus progress</mat-card-subtitle>                  
            </mat-card-header>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Digital Academic Audit</mat-card-title>
                    <mat-card-subtitle><mat-icon>done</mat-icon>Expedite the Academic Audit process by ready system of records</mat-card-subtitle>
                    <mat-card-subtitle><mat-icon>done</mat-icon>Reduce significant time and effort to be ready for Academic Audit</mat-card-subtitle>
                    <mat-card-subtitle><mat-icon>done</mat-icon>Enfore digital audit process via a built in audit mechanism</mat-card-subtitle>
                    <mat-card-subtitle><mat-icon>done</mat-icon>Generate regulatory reports to support the Academic Audit</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile>   
        <mat-grid-tile align-items="flex-start">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Manage and Maintain Department Activities</mat-card-title>
                    <mat-card-subtitle><mat-icon>done</mat-icon>Track Department Meetings, Parent Teacher Meetings, Laboratory Log Book  and others</mat-card-subtitle>
                    <mat-card-subtitle><mat-icon>done</mat-icon>Maintain and track Seminars, Webinars, Educational Tours and other activities details</mat-card-subtitle>
                    <mat-card-subtitle><mat-icon>done</mat-icon>Maintain and track College Register and University Examinations, Class Tests, Tutorials </mat-card-subtitle>
                    <mat-card-subtitle><mat-icon>done</mat-icon>Maintain and track department Library and Magazine Register and other stock register  </mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Manage and Maintain Teachers Information</mat-card-title>
                    <mat-card-subtitle><mat-icon>done</mat-icon>Records of Teachers' attendance in OP/RC</mat-card-subtitle>
                    <mat-card-subtitle><mat-icon>done</mat-icon>Records of teacher publications, participation in Seminars, Conferences,Invited Lectures</mat-card-subtitle>
                    <mat-card-subtitle><mat-icon>done</mat-icon> </mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Manage and Maintain Student Profile</mat-card-title>
                    <mat-card-subtitle><mat-icon>done</mat-icon>Students details information including  (UR/SC/ST/OBC), Scholarship (Kanyashree) and others</mat-card-subtitle>
                    <mat-card-subtitle><mat-icon>done</mat-icon>Semisterwise students curriculam and progress</mat-card-subtitle>
                    <mat-card-subtitle><mat-icon>done</mat-icon>Track student participation in NSS, NCC, Sports and other curricular activities </mat-card-subtitle>
                    <mat-card-subtitle><mat-icon>done</mat-icon>Record feedback from outgoing students </mat-card-subtitle>
                </mat-card-header>  
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>